@media (max-width: 768px) {
  .pricing {
    &__boxes {
      margin-top: 0;
      flex-direction: column;
    }

    &__box {
      width: 96%;
      height: 404px;
      margin: 35px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &--basic, &--premium {
        width: 87%;
        height: 350px;
      }
    }

    &__info {
      width: 50%;
      margin: 0;
    }

    &__list {
      width: 50%;
      margin: 0;
      text-align: left;
    }

  }
}